Repository Armor-test/search-database-273, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-ui, @Armor-test/grp-ui, @Armor-test/squad-search, @Armor-test/team-research, @Armor-test/team-logging, @Armor-test/squad-payments, @Armor-test/squad-cloud, @Armor-test/dept-reporting, @Armor-test/team-reporting, @Armor-test/squad-cache, @Armor-test/squad-reporting, @Armor-test/team-governance, @Armor-test/team-security, @Armor-test/grp-api, @Armor-test/team-frontend, @Armor-test/squad-api, @Armor-test/squad-tooling, @Armor-test/dept-logging, @Armor-test/squad-mobile, @Armor-test/dept-api, @Armor-test/grp-payments, @Armor-test/team-core, @Armor-test/team-notifications, @Armor-test/squad-performance, @Armor-test/dept-reliability, @Armor-test/squad-apps, @Armor-test/dept-data, @Armor-test/grp-reporting, @Armor-test/unit-devops, @Armor-test/dept-identity, @Armor-test/dept-release, @Armor-test/squad-ml, @Armor-test/dept-test, @Armor-test/unit-cloud, @Armor-test/unit-test, @Armor-test/squad-frontend, @Armor-test/dept-automation, @Armor-test/grp-search, @Armor-test/dept-notifications, @Armor-test/unit-design, @Armor-test/security, @Armor-test/auth-team, @Armor-test/dependency-team, @Armor-test/devops, @Armor-test/infra

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-reporting, @Armor-test/squad-reporting, @Armor-test/team-research

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-ui, @Armor-test/grp-ui, @Armor-test/squad-search

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-cache, @Armor-test/dept-api, @Armor-test/squad-mobile

Add src/main.py
  src/main.py
Owners: @Armor-test/dept-reporting, @Armor-test/squad-reporting, @Armor-test/team-research

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-reporting, @Armor-test/squad-reporting, @Armor-test/team-research

.github/CODEOWNERS:

# CODEOWNERS file for search-database-273
# Global owners - will be requested for all PRs
* @Armor-test/dept-ui @Armor-test/grp-ui @Armor-test/squad-search

# Directory ownership
/assets/ @Armor-test/team-research @Armor-test/team-logging
/data/ @Armor-test/squad-search @Armor-test/squad-payments @Armor-test/squad-cloud
/config/ @Armor-test/team-research @Armor-test/dept-reporting
/pkg/ @Armor-test/team-reporting @Armor-test/squad-cache @Armor-test/dept-ui
/src/ @Armor-test/dept-reporting @Armor-test/squad-reporting @Armor-test/team-research
/views/ @Armor-test/team-governance @Armor-test/team-security @Armor-test/team-logging
/services/ @Armor-test/grp-api @Armor-test/team-frontend
/lib/ @Armor-test/squad-api @Armor-test/dept-ui
/third_party/ @Armor-test/squad-tooling @Armor-test/dept-logging @Armor-test/squad-mobile
/test/ @Armor-test/squad-cache @Armor-test/dept-api @Armor-test/squad-mobile
/core/ @Armor-test/squad-reporting @Armor-test/dept-api
/ui/ @Armor-test/grp-api @Armor-test/squad-api @Armor-test/grp-payments
/extensions/ @Armor-test/team-core @Armor-test/squad-tooling @Armor-test/team-notifications
/web/ @Armor-test/squad-search @Armor-test/squad-performance @Armor-test/dept-reliability
/build/ @Armor-test/squad-performance @Armor-test/squad-apps @Armor-test/dept-data

# File type ownership
*.css @Armor-test/grp-reporting @Armor-test/grp-payments @Armor-test/unit-devops
*.ts @Armor-test/dept-identity @Armor-test/dept-release @Armor-test/squad-ml
*.scala @Armor-test/dept-api @Armor-test/dept-test
*.jsx @Armor-test/dept-reliability @Armor-test/squad-cache @Armor-test/team-logging
*.php @Armor-test/unit-cloud @Armor-test/unit-test
*.sql @Armor-test/team-logging @Armor-test/team-research
*.lock @Armor-test/team-security @Armor-test/squad-performance @Armor-test/squad-payments
*.cpp @Armor-test/dept-identity @Armor-test/squad-search
*.rs @Armor-test/squad-frontend @Armor-test/dept-data @Armor-test/dept-automation
*.yaml @Armor-test/grp-reporting @Armor-test/dept-api @Armor-test/team-research
*.json @Armor-test/grp-search @Armor-test/grp-reporting
*.gradle @Armor-test/team-core @Armor-test/dept-notifications @Armor-test/squad-search
*.tsx @Armor-test/grp-api @Armor-test/unit-design @Armor-test/grp-search

# Security and special files
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
package.json @Armor-test/dependency-team @Armor-test/security
Dockerfile @Armor-test/devops @Armor-test/infra
